.control-panel-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__submit-btn {
        @include reset-button();
        @include heebo-bold();

        background-color: $color-greenish;
        border: 1px solid rgba($color-black, 0.05);
        box-sizing: border-box;
        box-shadow: 0 2px 1px rgba($color-black, 0.1);
        border-radius: 4px;
        color: $color-white;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    &__cancel-btn {
        @include reset-button();
        @include heebo-medium();

        font-size: 13px;
        color: $color-red-dark;
        margin: 0 20px;
    }

    &__copy {
        font-size: 13px;
    }
}
