.control-panel {
    background-color: $color-white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
    border-radius: 3px;

    &__footer {
        padding: 15px 20px;
        background-color: rgba($color-grey-medium, 0.48);
    }
}
