.rc-slider {
}

.rc-slider-rail {
    background-color: $color-grey-medium;
    height: 8px;
    border-radius: 10px;
}

.rc-slider-track {
    background-color: $color-red-dark;
    height: 8px;
    border-radius: 10px;
}

.rc-slider-handle {
    margin-left: -10px;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: 0 1px 4px rgba($color-black, 0.5);
}

.rc-slider-handle-click-focused {
    &:focus {
        box-shadow: 0 1px 4px rgba($color-black, 0.5);
    }
}
