.sidebar {
    @include heebo-medium();

    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    width: 200px;
    background: $gradient-red;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__list {
        @include reset-list();

        margin: 73px 15px;
    }

    &__list-item {
        & + & {
            margin-top: 25px;
        }
    }

    &__link {
        @include reset-link();

        display: flex;
    }

    &__icon-wrapper {
        width: 25px;
        margin-right: 20px;
    }

    &__icon {
        width: 25px;
        height: 20px;
    }

    &__footer {
        padding: 7px 15px;
        background: transparentize($color-black, 0.5);
        display: flex;
        align-items: center;
    }

    &__footer-userpic {
        @include object-fit-image-parent();

        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        border: 1px solid $color-grey-light;
    }
}
