body {
    margin: 0;

    @include heebo-regular();

    font-size: 100%;
    height: 100vh;
    color: $color-grey-dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    position: relative;
    font-size: 100%;

    &.is-blocked {
        overflow: hidden;
    }

    &.is-blocked-touch {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: auto;
    }
}
