.content {
    flex-grow: 1;
    padding: 30px 50px 30px 100px;
    background-color: $color-grey-lightest;

    &__title {
        @include heebo-light();

        font-size: 25px;
        margin-bottom: 30px;
    }
}
