.time-selector {
    margin-top: 20px;

    &__inputs {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    &__input {
        display: inline-block;
        width: 50px;
        height: 22px;
        border-radius: 3px;
        font-size: 13px;
        border: 1px solid $color-grey-medium;
        text-align: center;
        box-shadow: none;
    }

    &__separator {
        margin: 0 5px;
        padding-top: 11px;
        line-height: 0;
    }
}
