.week {
    $this: &;

    &__day {
        display: flex;
        align-items: flex-end;
    }

    &__day-title {
        @include title-column();
    }

    &__time-selector {
        flex-grow: 1;

        &--hidden {
            visibility: hidden;
        }
    }

    &__input {
        @include visually-hidden();

        &:checked + #{$this}__label {
            &::before {
                background-color: $color-green;
                border: none;
            }

            #{$this}__tick {
                display: block;
            }
        }
    }

    &__label {
        display: flex;
        position: relative;
        padding-left: 25px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            background-color: $color-white;
            border: 1px solid $color-grey-light;
            border-radius: 4px;
        }
    }

    &__tick {
        position: absolute;
        z-index: 2;
        left: 4px;
        top: 4px;
        width: 10px;
        height: 10px;
        color: $color-white;
        border-radius: 50%;
        display: none;
    }
}
