$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #4A4A4A;
$color-grey-medium: #D8D8D8;
$color-grey-medium-dark: #9B9B9B;
$color-grey-light: #ECECEC;
$color-grey-lightest: #F2F2F2;
$color-red-light: #DE0006;
$color-red-dark: #97040C;
$color-red-blue: #4A90E2;
$color-green: #4ECE3D;
$color-greenish: #21D366;

$gradient-red: linear-gradient(to bottom, #DE0006, #DC3F43);
