$fallback-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@mixin heebo-regular {
    font-family: HeeboRegular, $fallback-font;
    font-weight: normal;
}

@mixin heebo-medium {
    font-family: HeeboMedium, $fallback-font;
    font-weight: normal;
}

@mixin heebo-bold {
    font-family: HeeboBold, $fallback-font;
    font-weight: normal;
}

@mixin heebo-light {
    font-family: HeeboLight, $fallback-font;
    font-weight: normal;
}
