@mixin reset-link() {
    text-decoration: none;
    color: inherit;
}

@mixin reset-list() {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin reset-button() {
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: transparent;
    user-select: none;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    font-size: inherit;
}

@mixin object-fit-image-parent($fit: cover) {
    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: $fit;

        @content;
    }
}

@mixin title-column() {
    width: 180px;
}

@mixin visually-hidden() {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
