.tabs {
    &__list {
        @include reset-list();

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-bottom: 1px solid $color-grey-light;
    }

    &__tab {
        @include heebo-medium();

        position: relative;
        padding: 20px 50px;
        color: $color-red-dark;
        font-size: 15px;
        cursor: pointer;

        &--selected {
            color: $color-grey-dark;

            &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                height: 2px;
                background-color: $color-red-dark;
            }
        }
    }

    &__panel {
        display: none;
        padding: 30px;

        &--selected {
            display: block;
        }
    }
}
