.flextime {
    $this: &;

    display: flex;
    border-bottom: 1px solid $color-grey-light;
    font-size: 15px;
    padding-bottom: 20px;

    &__title {
        @include title-column();

        color: $color-grey-medium-dark;
        flex-grow: 0;
    }

    &__radio {
        flex-grow: 0;
        display: flex;

        & + & {
            margin-left: 30px;
        }
    }

    &__input {
        @include visually-hidden();

        &:checked + #{$this}__label {
            &::after {
                display: block;
            }
        }
    }

    &__label {
        position: relative;
        padding-left: 25px;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            background-color: $color-white;
            border-radius: 50%;
            border: 1px solid $color-grey-light;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 2;
            left: 3px;
            top: 3px;
            width: 12px;
            height: 12px;
            background-color: $color-red-blue;
            border-radius: 50%;
            display: none;
        }
    }
}
